* {
  box-sizing: border-box;
}

body {
  background-color: #22252b;
  color: #d9d9d9;
  font-family: "Courier New", Courier, monospace;
}

.l {
  font-size: 22px;
}

p{
  font-size: 18px;
}

.header {
  background-color: #282c34;
  font-size: 25px;
  overflow: hidden;
  padding: 20px 5vw;
  width: 100%;
  position: fixed;
  top: 0;
  height: auto;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
}

.header a {
  color: inherit;
  float: left;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  line-height: 100%;
  border-radius: 4px;

}

.header a:hover {
  text-decoration: underline;
}

.header a.active {
  text-decoration: underline;
}

.page{
  width: 100%
  height: 100vh;
  margin-top: 100px;
}

.main{
  float: left;
  padding: 20px;
  width: 80%;
}

.left {
  float: left;
  padding: 20px;
  width: 10%;
}

.right {
  float: left;
  padding: 20px;
  width: 10%;
}



@media screen and (max-width:600px) {
    .header a { font-size: 18px;}
    .l { font-size:18px; }
    p {font-size: 16px;}
    .header {font-size: 3vmax; height: auto;}
}

@media screen and (max-width:475px) {
    .l { font-size:18px  ; }
    p{font-size:16px;padding: 0;}
    .image{max-width: 12vw}
    .page{
      margin-top: 90px;
    }
    .main{
      float: left;
      padding: 5px;
      width: 100%;
      margin-top: 0px;
    }
    .left {
      float: left;
      padding: 0px;
      width: 0%;
    }

    .right {
      float: left;
      padding: 0px;
      width: 0%;
    }
    .header a {
      padding: 8px;
      line-height: 100%;
      border-radius: 4px;

    }
}

@media screen and (max-width:320px){
  .image{max-width: 10vw}
  .header a {
    padding: 5px;}
  .page{
      margin-top: 90px;
    }
}
